#navbar{
    display: grid;
    grid-template-columns: 80% 12% 8%;
    /* padding: .5rem; */
    height: 10vh;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.name{
    height: 100%;
    display: flex;
    align-items: center;
    
}
.name h1{
    font-size: 1rem;
    margin-left: 2rem;
}
.startFreeTrail{
    height: 100%;
    display: flex;
    align-items: center;
}
.startFreeTrail Button{
    background-color: var(--primary-color);
    color: white;
}
.login{
    height: 100%;
    display: flex;
    align-items: center;
}
.login Button{
    background-color: var(--secondary-color);
    color: white;
}


/* =====================MEDIA QUERIES (MEDIUM DEVICIES)================== */
@media screen and (max-width: 1024px){
    #navbar{
        grid-template-columns: 70% 17% 13%;
    }
}


/* =====================MEDIA QUERIES (SMALL DEVICIES)================== */
@media screen and (max-width: 710px){
    .startFreeTrail, .login{
        display: none;
    }
    #navbar{
        grid-template-columns: 100% 0% 0%;
    }
}
