:root{
  --primary-color: #023047;
  --secondary-color: #fb8501;
}
*{
 padding: 0rem;
  margin: 0rem;
}
body,html{
  height: 100%;
  width: 100%;
}

/* =====================MEDIA QUERIES (MEDIUM DEVICIES)================== */
@media screen and (max-width: 1024px){

}


/* =====================MEDIA QUERIES (SMALL DEVICIES)================== */
@media screen and (max-width: 600px){
  
}